@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

$bp-extraLarge: 75.31em; //1205px
$bp-large: 61.06em; //977px
$bp-medium: 42.1em; //675px
$bp-small: 35.93em; //575px
$bp-smallest: 29.5em; //472px

$warmblack: #525252;
$starkyellow: yellow;
$lighterblack: #252422;
$soft: #fbc770;
$warmwhite: #f7f7f2;
$blue1: #036474;
$greytext: #f0f0f0;
$greybackground: #cdcfba;

$warmgreen: #d3e37b;

$greenbackground: #dbf09c;
$greenshadow: #abbf72;

html {
  font-size: 62.5%; /* 1 rem = 10px, 10px/16px (browser default) = 62.5% */
}

.App {
  display: grid;
  grid-template-rows: 0.5fr 3fr;
  height: 100vh;

  @media only screen and (max-width: $bp-extraLarge) {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
  }
}
.Body_Container {
  display: grid;
  grid-template-columns: 2fr 1fr;

  @media only screen and (max-width: $bp-extraLarge) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $starkyellow;
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;

  @media only screen and (max-width: $bp-extraLarge) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  //   @media only screen and (max-width: $bp-medium) {
  //     font-size: 0.5rem;
  //   }
}

.Canvas {
  background-color: black;
  display: flex;

  @media only screen and (max-width: $bp-extraLarge) {
    display: flex;

    height: 70%;
  }
}

.Details_Container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: $greybackground;

  @media only screen and (max-width: $bp-extraLarge) {
    height: 100%;
    grid-template-rows: 1fr 1fr;
  }
}

.Details_Keys_Container {
  display: flex;
  background-color: $greybackground;
  height: 80%;
}

.Details_Keys {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: $greybackground;

  align-items: center;
  align-self: center;
  width: 100%;
  height: 50%;
}

.Details_Keys_Up {
  display: flex;
  justify-content: center;
  align-self: center;
}

.Details_Keys_Side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Details_Keys_Side_Left {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.Details_Keys_Side_Right {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.Details_Keys_Down {
  display: flex;
  justify-content: center;
  align-self: center;
}

.Up_Arrow {
}

.Button {
}

.ButtonArrowUp:focus {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.ButtonArrowLeft:focus {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.ButtonArrowRight:focus {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.ButtonArrowDown:focus {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.FadeIn {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.Details_Links {
  display: flex;
  background-color: $greybackground;
  height: 100%;
  color: $warmblack;
  @media only screen and (max-width: $bp-extraLarge) {
    width: 100%;
    justify-content: center;
  }
}
