@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

$bp-extraLarge: 75.31em; //1205px
$bp-large: 61.06em; //977px
$bp-medium: 42.1em; //675px
$bp-small: 35.93em; //575px
$bp-smallest: 29.5em; //472px

$starkyellow: yellow;

$softyellow: #f5e751;
$warmwhite: #f7f7f2;

$darkbackground: #161216;

html {
  font-size: 62.5%; /* 1 rem = 10px, 10px/16px (browser default) = 62.5% */
}

.App {
  display: grid;
  grid-template-rows: 0.8fr 3.5fr;
  height: 100vh;

  @media only screen and (max-width: $bp-extraLarge) {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
  }
}
.Body_Container {
  display: grid;
  grid-template-columns: 2fr 1fr;

  @media only screen and (max-width: $bp-extraLarge) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $starkyellow;
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;

  @media only screen and (max-width: $bp-extraLarge) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  //   @media only screen and (max-width: $bp-medium) {
  //     font-size: 0.5rem;
  //   }
}

.Canvas {
  background-color: black;
  display: flex;

  @media only screen and (max-width: $bp-extraLarge) {
    display: flex;

    height: 70%;
  }
}

.Details_Container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: $darkbackground;

  @media only screen and (max-width: $bp-extraLarge) {
    height: 100%;
    grid-template-rows: 0.5fr 1fr;
  }
}

.Details_Keys_Container {
  display: flex;
  background-color: $darkbackground;
  height: 80%;

  @media only screen and (max-width: $bp-extraLarge) {
    padding-bottom: 0;
  }
}

.Details_Keys {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: $darkbackground;

  align-items: center;
  align-self: center;
  width: 100%;
  height: 50%;
}

.Details_Keys_Up {
  display: flex;
  justify-content: center;
  align-self: center;
}

.Details_Keys_Side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Details_Keys_Side_Left {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.Details_Keys_Side_Right {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.Details_Keys_Down {
  display: flex;
  justify-content: center;
  align-self: center;
}

.ButtonArrowUp {
  border-radius: 20px;
}

.ButtonArrowDown {
  border-radius: 20px;
}

.ButtonArrowLeft {
  border-radius: 20px;
}

.ButtonArrowRight {
  border-radius: 20px;
}

.ButtonArrowUp:focus {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.ButtonArrowLeft:focus {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.ButtonArrowRight:focus {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.ButtonArrowDown:focus {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.FadeIn {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.Details_Links {
  display: flex;
  flex-direction: column;
  background-color: $darkbackground;
  height: 100%;
  color: $softyellow;
  justify-content: flex-start;
  align-items: center;

  font-family: "Fjalla One", sans-serif;
  font-size: 2.5rem;
  @media only screen and (max-width: $bp-extraLarge) {
    width: 100%;
    font-size: 2rem;
    padding-top: 0.5rem;
  }
}

.Sound {
  display: flex;
  flex-direction: row;
  color: $softyellow;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  @media only screen and (max-width: $bp-extraLarge) {
    padding-top: 0.1rem;
  }
}

.Sound_Text {
  padding-right: 1rem;
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
}

.Footer {
  background-color: $warmwhite;
}

.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $darkbackground;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid $starkyellow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: $warmwhite;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $softyellow;
}

input:focus + .slider {
  box-shadow: 0 0 1px $softyellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
