.App {
  display: grid;
  grid-template-rows: 0.5fr 3fr;
  height: 100vh;
}
.Body_Container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Header {
  text-align: center;
  background-color: yellow;
}

.Canvas {
  background-color: black;
  display: flex;
}

.Details {
  background-color: orange;
  display: flex;
}
